<div class="container">
    
   
    <div class="parent">
        <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
       
        <!-- <div class="div2">  
                <table>
                    <tr>
                        <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                        <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
                    </tr>
                </table>
            </div> -->
    </div>
    
    <hr>


    <nav>
        <h1>KARASHO</h1>
        <ul>
          <li><a data-text="Login" href="login">Login</a></li>
          <li><a data-text="Home" href="home">Home</a></li>
          <li><a data-text="Uomo" href="uomo">Uomo</a></li>
          <li><a data-text="Donna" href="donna">Donna</a></li>
          <li><a data-text="Carrello" href="cart">Carrello</a></li>
          <li><a data-text="Contattami" href="contattami">Contattami</a></li>
        </ul>
    </nav>
    <!-- class="hot_prods_table" -->
    
<span>
    <h3 class="buoneNotizie">
        Gentile {{sessionEmail}}, la informiamo che il suo ordine è stato ricevuto correttamente e sarà spedito il prima possibile.
    </h3>
    <br><br><br>
    <h4>
        <a class="buoneNotizie2" href="home">Torna alla Home</a>
    </h4>
</span>
    <div class="main-container">
        <div class="check-container">
          <div class="check-background">
            <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="check-shadow"></div>
        </div>
      </div>
    
</div>
