@media (min-width: 575px) {
	@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');
	@import "~bootstrap/dist/css/bootstrap.css";
$button-bg-color: rgba(0, 0, 0, 0.452);
$button-border-color: #223e5f;

	.container {
		max-width: 100%;
	}
	.banner {
		width: 100%;
		// background-repeat:no-repeat;
		// background-size:cover;
		// background-attachment:fixed;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.banner section,
	.banner a {
		color: #fff;
		margin: 0 10px;
	}
	.logo {
		width: 100%;
		height: 150px;
		margin-left: 14%;
		overflow: hidden;
	}
	.cartString {
		padding-left: 21%;
		margin-top: -17%;
	
	}
	a {
		text-decoration: none;
		color: black;
	}
	.parent {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.div1 {
		grid-area: 1 / 2 / 2 / 4;
		//padding-left: -15%;
		margin-left: 33%;
	}
	.div2 {
		grid-area: 1 / 5 / 2 / 6;
		margin-top: 6%;
		padding-top: 6%;
		margin-left:30%;
		//background-color: #70ADCC;
		border-radius: 4%;
		margin-right: 25%;
		
	}

	.bottomStripe {
		width: 100%;
		height: 5px;
		background: #000;
	}
	.previewHotProd {
		width: 50%;
		padding: 15px;
		background-color: #70ADCC;
	
	}
	.hot_prods_table{
		text-align: center; 
		background-color: #22405fb2;
		margin-top: 6%;
		//margin-left: 11%;
		padding-left: -1%;
		padding-top: 5%;
		padding-bottom: 5%;
		margin-left: 8%;
		margin-right: 8%;
		
	}
	.hot_prod{
		border-radius: 2%;
		background-color: #70ADCC;
	}
	
	

	.buttonScopri{
		
		display: inline-block;
		padding: 15px;
		margin-right: 5px;
		height: 50px;
		min-width: 100px;
		background: $button-bg-color;
		border: none;
		outline: none;
		color: white;
		font-family: inherit;
		font-weight: 400;
		font-size: 20px;
		border-radius: 3px;
		box-shadow: 0 5px 0px darken($button-bg-color,0%);
		border-bottom: 2px solid darken($button-bg-color,3%);
		
		&:hover{
			cursor: pointer;
		  background: darken($button-bg-color,5%);
		  box-shadow: 0 4px 1px darken($button-bg-color,5%);
		  border-bottom: 2px solid darken($button-bg-color,8%);
		  transition: all 0.1s ease-in;
		}
		
		&:active{
		  transform:translateY(4px);
		  border-bottom-width: 2px;
		  box-shadow: none;
		}
	  }
	//navbar
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: sans-serif;
	}
	body{
		background-color: #333;
	}
	nav{
		display: flex;
		justify-content: space-between;
		margin-top: 2%;
		margin-left: 10%;
		width: 80%;
		padding: 20px;
		background-color: #d0bebe17;
		border-radius: 10px;
		
	}
	nav h1{
		text-transform: uppercase;
		color:#fff;
	}
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 0 10px;
	}
	nav ul li a{
		text-decoration: none;
		color:rgba(255, 255, 255, .5);
		position: relative;
		display: inline-block;
	}
	a::before{
		content: attr(data-text);
		color:#fff;
		position: absolute;
		left: 0;
		top: 0%;
		width: 0%;
		white-space: nowrap;
		overflow: hidden;
		transition: .5s;
		border-bottom: 3px solid rgba(0, 0, 0, 0.452);
	
	}
	a:hover::before{
		width: 100%;
	}
	@media(max-width:700px){
		nav{
			display: block;
			text-align: center;
		}
		nav ul li{
			display: block;
			padding: 10px 0;
		}
	}
	.nome{
        color: white;
        padding: 1%;
    }
	.sessionEmail{
		color: white;
		font-style:italic;
		
	}
	
	
}