<!--BANNER-->
<div class="container">
    
   
            <div class="parent">
                <div class="div1"><img class="logo" src="../assets/logokarasho.jpeg" alt=""> </div>
                <div class="div2"> <a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a> </div>
            </div>
            
            <hr>


            <nav>
                <h1>KARASHO</h1>
                <ul>
                  <li><a data-text="Login" href="login">Login</a></li>
                  <li><a data-text="Donna" href="#">Donna</a></li>
                  <li><a data-text="Uomo" href="#">Uomo</a></li>
                  <li><a data-text="Contattami" href="#">Contattami</a></li>
                </ul>
              </nav>

            <table class="hot_prods_table">  
               
                <tbody>
                    <tr>
                        <td *ngFor="let art of articoli | async" > <img class="hot_prod" *ngIf="art.hot=='si'" class="previewHotProd" src="{{art.foto}}" alt=""></td>
                    </tr>
                    <tr>
                        <td *ngFor="let art of articoli | async" ><button *ngIf="art.hot=='si'" class="buttonScopri" routerLink="">SCOPRI</button></td>
                    </tr>
                </tbody>
            </table>

            
</div>
