<!--BANNER-->
<div class="container">
    
   
            <div class="parent">
                <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
               
                <!-- <div class="div2">  
                        <table>
                            <tr>
                                <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                                <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
                            </tr>
                        </table>
                    </div> -->
            </div>
            
            <hr>


            <nav>
                <h1>KARASHO</h1>
                
                <ul>
                  <li><a data-text="Profilo" href="profilo">Profilo</a></li>
                  <li><a data-text="Login" href="login">Login</a></li>
                  <li><a data-text="Donna" href="donna">Donna</a></li>
                  <li><a data-text="Uomo" href="uomo">Uomo</a></li>
                  <li><a data-text="Carrello" href="cart">Carrello</a></li>
                  <li><a data-text="Contattami" href="contattami">Contattami</a></li>
                </ul>
              </nav>
              
            <table class="hot_prods_table">  
               
                <tbody>
                    <tr>
                        <td *ngFor="let art of articoli | async" > <img class="hot_prod" *ngIf="art.hot=='si'" class="previewHotProd" src="{{art.foto}}" alt=""></td>
                    </tr>
                    <tr>
                        <td *ngFor="let art of articoli | async" >  <span *ngIf="art.hot=='si'" class="nome text-center"><h3>{{art.nome}}</h3></span></td>
                    </tr>
                    <tr>
                        <td *ngFor="let art of articoli | async" ><button *ngIf="art.hot=='si'" class="buttonScopri" (click)="scopri(art.id)">SCOPRI</button></td>
                    </tr>
                </tbody>
            </table>

            
</div>
