<!--BANNER-->
<div class="container">
    <div class="parent">
       <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
       <!-- <div class="div2">  
          <table>
              <tr>
                  <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                  <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
              </tr>
          </table>
          </div> -->
    </div>
    <hr>
    <nav>
       <h1>KARASHO</h1>
       <ul>
          <li><a data-text="Home" href="home">Home</a></li>
          <li><a data-text="Login" href="login">Login</a></li>
          <li><a data-text="Donna" href="donna">Donna</a></li>
          <li><a data-text="Uomo" href="uomo">Uomo</a></li>
          <li><a data-text="Carrello" href="cart">Carrello</a></li>
          <li><a data-text="Contattami" href="contattami">Contattami</a></li>
       </ul>
    </nav>
    <div class="grid-container">
       <div class="fotoGiulia"> <img id="giulia" src="../assets/giulia.jpg" alt=""> </div>
       <div class="introduzione">
          <h1> Chi Sono </h1>
          <hr>
       </div>
       <div class="svolgimento">
          <p>
             Sono Giulia, ho 21 anni e abito in un paesino in provincia di como. <br>
             Ho sempre fatto fatica a trovare dei vestiti che rappresentassero bene il mio stile, quindi ho deciso di crearli. 
          </p>
          <br>
          <p>
             Lascio qui una citazione che rappresenta molto bene quello che penso sulla moda. <br>
          </p>
          <br>
          <p>
             “Ho sempre avuto una passione per la moda, non necessariamente per il bisogno di indossare le marche più prestigiose, più per senso dello stile.
             <br><br>
             Considero il modo di vestirmi un’estensione di come mi sento dentro. <br>
             Un giorno sono scuro e aggressivo, un altro solare. <br>
             L’abbigliamento deve rispecchiare il mio umore. <br>
             <br>
             La moda è una forma d’espressione potenzialmente in grado di trasformare una persona in una galleria d’arte che cammina.”
          </p>
          <br>
       </div>
       <div class="conclusione">
          <p>
             Ho studiato presso la scuola “istituto moda burgo” a milano. <br>
             Facendo un corso di modellismo e di figurino.
          </p>
          <p>
             I vestiti vengono creati partendo da un cartamodello per poi essere realizzati su stoffa.    
          </p>
       </div>
    </div>
    
    <div class="emailContact">
        <h2>Lasciami un messaggio!</h2>
        <br><br>
       <form action="https://formspree.io/f/xeqvqzbq" method="POST">
          <label>
              <h4>La tua Email:</h4>
           <br>
          <input id="inputMail" type="email" name="_replyto" placeholder="email">
          
          </label> <br><br>
          <label>
              <h4> Il tuo messaggio:</h4>
          <br>
          <textarea id="inputMail" name="message" placeholder="messaggio..."></textarea>
          </label><br>
          <!-- your other form fields go here -->
          <button class="buttonScopri"type="submit">Send</button>
       </form>
    </div>

 </div>