<!--BANNER-->
<div class="container">
    <div class="parent">
       <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
       <!-- <div class="div2">  
          <table>
              <tr>
                  <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                  <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
              </tr>
          </table>
          </div> -->
    </div>
    <hr>
    <nav>
       <h1>KARASHO</h1>
       <ul>
          <li><a data-text="Home" href="home">Home</a></li>
          <li><a data-text="Login" href="login">Login</a></li>
          <li><a data-text="Donna" href="donna">Donna</a></li>
          <li><a data-text="Uomo" href="uomo">Uomo</a></li>
          <li><a data-text="Carrello" href="cart">Carrello</a></li>
          <li><a data-text="Contattami" href="contattami">Contattami</a></li>
       </ul>
    </nav>
    <div class="grid-container">
       <div class="fotoGiulia"> <img id="giulia" src="../assets/camicia.jpeg" alt=""> </div>
       <div class="introduzione">
          <h1> Perchè questo articolo è un preorder? </h1>
          <hr>
       </div>
       <div class="svolgimento">
          <p>Visto che i capi sono fatti a mano da me,</p><br>
          <p>ci vuole del tempo prima che io riesca a finire un capo </p> <br>
          <p>ed è per questo che alcuni capi saranno solamente preordinabili.</p> <br>
       </div>
       <div class="conclusione">
          <p>
            <i style="margin-left: 1%;">esempio di un capo il lavorazione</i>
          </p>
          <p>
              
          </p>
       </div>
    </div>
    
    

 </div>