

<div class="container">
    
   
    <div class="parent">
        <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
       
        <div class="div2">  
                <table>
                    <tr>
                        <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                        <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
                    </tr>
                </table>
            </div>
    </div>
    
    <hr>


    <nav>
        <h1>KARASHO</h1>
        <ul>
          <li><a data-text="Login" href="login">Login</a></li>
          <li><a data-text="Home" href="home">Home</a></li>
          <li><a data-text="Uomo" href="uomo">Uomo</a></li>
          <li><a data-text="Donna" href="donna">Donna</a></li>
          <li><a data-text="Contattami" href="contattami">Contattami</a></li>
        </ul>
    </nav>
    <!-- class="hot_prods_table" -->
    <div class="grid">
      <ng-container *ngFor="let art of articoli | async" >
          <ng-container *ngIf="art.id==id" >
                <div class="hot_prods_table">
                    <img class="hot_prod" class="previewHotProd" src="{{art.foto}}" alt=""> <br>
                    <span  class="nome text-center"><h3>{{art.nome}}</h3></span><br>
                    <span  class="nome text-center"><h1>{{art.prezzo}}€</h1></span><br>
                    <ng-container *ngFor="let mag of magazzino | async">
                        <span class="preorderclass" *ngIf="mag.id==id&&mag.disponibilita==0"> Questo articolo è un preorder, <a href="scopri">scopri</a> perchè! </span>
                    </ng-container>    
                </div>
          </ng-container>
          <ng-container *ngIf="art.id==id" >
            <form [formGroup]="aggiungiAlCarrelloForm" (ngSubmit)="aggiungiAlCarrello()">
                <div class="divTaglie">
                    <ng-container *ngFor="let mag of magazzino | async">
                        <span class="preorderclass" *ngIf="mag.id==id&&mag.disponibilita>0"> <b>disponibilità: solo {{mag.disponibilita}}</b>   <br></span>
                    </ng-container>    
                    <span class="tagliaString"> <b>Seleziona la taglia:</b>  </span>
                    <select formControlName="taglia" class="selectTaglia">
                        <option value="S">S</option>
                        <option value="S">M</option>
                        <option value="S">L</option>
                   </select>
                   <br><br>
                   <span class="tagliaString"> <b>Seleziona la quantità:</b>  </span>
                   <input formControlName="quantita" type="number" name="" id="quantita" value="1">
                   <br><br>
                   <span  class="nome text-center"><h3>Descrizione: {{art.descrizione}}</h3></span><br>
                   <span  class="nome text-center"><h3>Prezzo: {{art.prezzo}} €</h3></span><br>
                   <button class="buttonScopri" type="submit">AGGIUNGI AL CARRELLO</button>
                </div>
            </form>
      </ng-container>
      </ng-container>    
       
    </div>

   

    
</div>
