<div class="container">
    
   
    <div class="parent">
        <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
       
        <div class="div2">  
                <table>
                    <tr>
                        <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                        <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
                    </tr>
                </table>
            </div>
    </div>
    
    <hr>


    <nav>
        <h1>KARASHO</h1>
        <ul>
          <li><a data-text="Login" href="login">Login</a></li>
          <li><a data-text="Home" href="home">Home</a></li>
          <li><a data-text="Uomo" href="uomo">Uomo</a></li>
          <li><a data-text="Donna" href="donna">Donna</a></li>
          <li><a data-text="Contattami" href="contattami">Contattami</a></li>
        </ul>
    </nav>
    <!-- class="hot_prods_table" -->
   
    <h1 class="riepilogo">Riepilogo Acquisti</h1>
    <div class="riepilogoAcquisti">
        <table>
            <tr>
                <td>
                    <h2 class="totale">Totale: {{totale.result.totale}} €</h2>
                </td>
                <td>
                    <button class="buttonScopri">PROCEDI AL CHECKOUT</button>
                </td>
            </tr>
        </table>
    </div>
   <hr class="lineRiepilogo">
    <table class="carrelloPreview">
        <th id="imgtitle">IMMAGINE</th>
        <th>NOME</th>
        <th>PREZZO</th>
        <th>TOTALE</th>
        <tr *ngFor="let car of carrelli | async">
            
            <td *ngIf="car.emailUtente==sessionEmail" class="immagine"> <img class="previewHotProd" src="{{car.foto}}"> </td>
            <td *ngIf="car.emailUtente==sessionEmail" class="detail">{{car.nome}}</td>
            <td *ngIf="car.emailUtente==sessionEmail" class="detail">{{car.quantita}} x {{car.prezzo}} €</td>
            <td *ngIf="car.emailUtente==sessionEmail" class="detail">{{car.totale}} €</td>
            <td *ngIf="car.emailUtente==sessionEmail" class="detail"><button><img src="../assets/close.png" alt="rimuovi" (click)="rimuovi(car.id)"></button></td>
           
        </tr>
    </table>

  
     
  
    
</div>
