<!--BANNER-->
<div class="container">
    
   
    <div class="parent">
        <div class="div1"><a href="home"><img class="logo" src="../assets/logokarasho.jpeg" alt=""></a></div>
       
        <!-- <div class="div2">  
                <table>
                    <tr>
                        <td class="sessionEmail"> <span >{{sessionEmail}}</span></td>
                        <td><a href="cart"><img class="cart" src="../assets/cartbig.png" alt=""></a></td>
                    </tr>
                </table>
            </div> -->
    </div>
    
    <hr>


    <nav>
        <h1>KARASHO</h1>
        <ul>
          <li><a data-text="Login" href="login">Login</a></li>
          <li><a data-text="Donna" href="donna">Donna</a></li>
          <li><a data-text="Home" href="home">Home</a></li>
          <li><a data-text="Carrello" href="cart">Carrello</a></li>
          <li><a data-text="Contattami" href="contattami">Contattami</a></li>
        </ul>
    </nav>
    <!-- class="hot_prods_table" -->
    <div class="grid">
      <ng-container *ngFor="let art of articoli | async" >
          <ng-container *ngIf="art.genere=='uomo'" >
                <div class="hot_prods_table">
                    <img class="hot_prod" class="previewHotProd" src="{{art.foto}}" alt=""> <br>
                    <span class="nome text-center"><h3>{{art.nome}}</h3></span><br>
                    <button *ngIf="art.genere=='uomo'" class="buttonScopri" (click)="scopri(art.id)">SCOPRI</button>
                </div>
          </ng-container>
      </ng-container>    
       
    </div>

    
</div>
